.flexContainer {
    display: flex;
    width: 90%;
    height: 90vh;
    align-items: center;
    margin: 0 auto;
}

.indexText {
    font-size: 3em;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.right {
    display: flex;
    flex: 1.5;
    justify-content: center;
}



/* media queries below */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 992px) {
    .flexContainer {
        display: flex; 
        flex-direction: column;
    }
    .indexText { font-size: 2em}
    .left {
        justify-content: center;
        flex: 0;
    }
    
    .right {
        display: none;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
    ...
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
    ...
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (max-width: 992px) {
    .index-container {
        height: 100vh;
        width: 100vw;
        background-color: red;
        display: grid;
        grid-template-rows: 50% 50%;

    }

    .left {
        grid-row: 1;
        background-color: white;
        color: black;
        grid-column-start: 1;
        grid-column-end: 3; 
    }
    
    .right {
        grid-row: 2;
        background-color: black;
        color: white; 
        grid-column-start: 1;
        grid-column-end: 3; 
    }

    .text {
        text-align: center;
        position: relative;
        top: 13%;
        overflow: hidden;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
    ...
} */