.back-layout {    
    height: 100vh;
    width: 100vw;
}

.layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* .blogpost {
    margin: 1rem auto;
    background-color: red;
    border: 1px solid red;
} */
  
